
body {

font-family: Arial, sans-serif;

color: #333;

background-color: #f9f9f9;

margin: 0;

padding: 0;

line-height: 1.6;

}

header {

background-color: #4CAF50;

color: white;

padding: 20px;

text-align: center;

}


header h1 {

margin: 0;

}


nav a {

color: white;

text-decoration: none;

margin: 0 10px;

}


nav a:hover {

text-decoration: underline;

}
